In [1]:
import numpy
import pandas as pd
from learning_spaces.kst import iita, simu

### Test iita
Iita algoritam ocekuje matricu gde svaki red predstavlja pitanje, a svaka kolona studenta. Ako imamo 3 pitanja i 5 studenata, matrica moze izgledati ovako:
0	1	1
1	1	0
0	1	1
0	1	0
0	1	0

In [152]:

data_frame = pd.DataFrame({'q1': [0, 1, 0, 0, 0], 'q2': [0, 1, 1, 1, 1]})
response_test = iita(data_frame, v=1)
print(response_test)
data_frame

{'diff': array([0.        , 0.26470588]), 'implications': [(1, 0)], 'error.rate': -0.0, 'selection.set.index': 0, 'v': 1}

   q1  q2
0   0   0
1   1   1
2   0   1
3   0   1
4   0   1

### Test simu

In [20]:
implications = [[1,3], [2,4], [3,5], [4,5]]
num_of_questions = 5
num_of_students = 3
response = simu(items=num_of_questions, size=num_of_students, ce=0, lg=0, delta=0, imp=implications)
response['dataset']

array([[1, 1, 0, 1, 1],
       [1, 0, 1, 1, 1],
       [0, 0, 1, 1, 0]], dtype=int8)

### Test ita & simu together

In [154]:
def generate_answers(num_of_questions, num_of_students, implications):
  result = simu(items=num_of_questions, size=num_of_students, ce=0.05, lg=0.1, delta=0, imp=implications)
  answers = result['dataset']
  return answers

In [159]:
implications = [(0,1)]
answers = generate_answers(num_of_questions=2, num_of_students=5, implications=implications)
response = iita(answers, v=1)

In [160]:
answers = pd.DataFrame(answers, columns=['question 0', 'qustion 1'])
answers

   question 0  qustion 1
0           0          0
1           1          1
2           1          0
3           1          1
4           1          0

In [161]:
response

{'diff': array([0. , 0.4]),
 'implications': [(0, 1)],
 'error.rate': -0.0,
 'selection.set.index': 0,
 'v': 1}

# Generate actuall data for a JavaScript Domain

In [2]:
def generate_answers(num_of_questions, num_of_students, implications):
  result = simu(items=num_of_questions, size=num_of_students, ce=0.05, lg=0.1, delta=0, imp=implications)
  answers = result['dataset']
  return pd.DataFrame(answers)

In [3]:
implications = [(0, 1), (0, 2), (0, 3), (2, 4), (3, 4), (4, 5), (1, 5)] # a JS domain
num_of_questions = 6
num_of_students = 100
answers = generate_answers(num_of_questions, num_of_students, implications)

In [4]:
response = iita(answers, v=1)
response

{'diff': array([13.00065333,  7.28398667,  8.15752667,  6.92136877,  6.72856797,
        11.52848219, 11.38931623, 16.19262168, 19.90351861, 26.64211177,
        28.67676637, 55.95113285, 59.32801816]),
 'implications': [(0, 2), (0, 3), (0, 5), (1, 5), (4, 5)],
 'error.rate': 0.2045632479588413,
 'selection.set.index': 4,
 'v': 1}